.search {
  margin: 0 10px;
  display: flex;
  position: relative;
  width: 280px;
  height: 40px;
  border: 1.5px solid transparent;
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 30%);

  input {
    flex: 1;
    padding-right: 30px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }

  button {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    outline: none;
    margin: 0;
    box-shadow: none;
    &:hover {
      cursor: pointer;
      background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
      background-color: rgba(22, 24, 35, 0.06);
      color: rgba(22, 24, 35, 0.5);
    }
  }
  &:focus-within {
    border-color: var(--secondary);
    background-color: var(--white);
  }
  &:has(button:focus) {
    border-color: white;
  }
}

// button
.search-btn {
  color: var(--yellow);
}

.loading,
.clear {
  display: flex;
  position: absolute;
  right: 12px;
  top: 50%;
  background-color: transparent;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.45);
}
.loading {
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

// tablet: 740<= width < 1024px
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .search {
    width: 220px;
  }
}
// pc:  width >= 1024px and width < 1680px
@media screen and (min-width: 64em) and (max-width: 104.9375em) {
  .search {
    width: 260px;
  }
}
@media screen and (min-width: 105em) {
}
